.App {
  text-align: center;
}

.container {
  display: flex;
  flex-direction: column;
}

.flexContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.spaceAround {
  justify-content: space-around;
}

.flexContainerNoCenter {
  display: flex;
  align-items: center;
  gap: 10px;
}
.MuiListItemButton-root {
  background-color: black;
}

/* lighter background = #36454F
base background = #14232D */

.row1 {
  display: flex;
  background-color: #36454F;
  color: white;
  flex-direction: row;
  grid-template-columns: 50%, 50%;
  border: 2px solid black;
  border-radius: 2px;
  height:400px;
}

.row2 {
  background-color: #36454F;
  color: white;
}

.Inventory, .grid-container {
  width: 50%;
}

.Tasks{
  height: 100%;
  width: 100%;
  border: 1px solid grey;
}


.taskContainer img {
  max-height: 20px;
}

.Events {
  display: flex;
  flex-direction: column;
}

