.inventoryGrid {
    background-color: darkslategrey;
    border-radius: 10px;
    border: 3px solid slategrey;
    height: 340px;
    gap: 15px;
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 10px;
    width: 100%;
  }
  
.inventoryItem {
    background-color: peru;
    height: 80px;
    width: 80px;
    border-radius: 8px;
  }
  
.inventoryItemQuantity {
    position: relative;
    display:flex;
    bottom: 105%;
    left: 70%;
    background-color: grey;
    z-index: 2;
    border-radius: 5px;
    font-weight: bold;
    color: white;
    font-size: 12px;
    width:40%;
    height: 40%;
    align-items: center;
    justify-content: center;
  }

.currency {
    display:flex;
    align-items: center;
    color: white;
    background-color: goldenrod;
    font-weight: bold;
    border-radius: 10px;
    width: 25%;
    margin: 3px;
  }
  
.currency img {
    margin: 0px 6px 3px 8px;
    max-width: 40px;
    image-rendering: pixelated;
  }

.itemZone {
    display:flex;
  }
  
.inventoryImgContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
  }
  
.inventoryGridImg {
    height: 80%;
    width: 80%;
  }

.Events {
    display: flex;
    flex-direction: column;
  }
  
.inventoryGrid {
    display: flex;
    flex-direction: row;
  }
  